body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body h1{
    color: green;
    font-family: Arial, Helvetica;
}